@{meta('Total.js command-line tool')}

<h1>Command-line tool</h1>
<br />
<div>
	<p class="text">Firstly you must install total.js from NPM as global package<p>
	<pre class="brush: plain">$ npm install -g total.js</pre>
	<br />
	<h2>Arguments</h2>
	<br />
	<div><strong>Command-line help:</strong></div>
	<br />
	<pre class="brush: plain">$ total --help</pre>
	<br />
	<div>@{image('cmd.png', 780, 480, 'total.js arguments')}</div>
	<br />
	<h2>Example: create e.g. Angular.js project</h2>
	<br />
	<pre class="brush: plain">$ mkdir angular
$ cd angular
$ total -angular</pre>
	<br />
	<div>@{image('cmd-angular.png', 780, 480, 'total.js creates angular.js application project')}</div>
	<br />
	<div><strong>Run application:</strong></div>
	<br />
	<pre class="brush: plain">$ node debug.js</pre>
</div>
