@{meta('Did you know?')}

<h1>@{title}</h1>
<br />
<div class="text">
	<ul>
		<li class="b">Framework saves memory.</li>
		<li>You can inject controller, module, config or definition from URL address.</li>
		<li>You can see live stats from your web site (for example: Pending requests) - <a href="/FrameworkStats/" class="high-code">FrameworkStats</a>.</li>
		<li>You can download created <a href="https://github.com/totaljs/modules" class="link">total.js modules</a>.</li>
		<li>You can communicate between HTTP and WebSocket at the same time.</a>
		<li>Framework automatically encodes all values in views and templates.</a>
		<li>Learning with examples - <a href="https://github.com/totaljs/examples" class="link">more than 90 examples of total.js</a>.</li>
		<li>You can use total.js proxy for communication between total.js projects.</a>
		<li>And many more ...</a>
	</ul>
	<br />
</div>
<hr />
<h2>Discussion forum</h2>
<iframe id="forum_embed" src="javascript:void(0)" scrolling="no" frameborder="0" width="810" height="700"></iframe>
<script type="text/javascript">document.getElementById('forum_embed').src = 'https://groups.google.com/forum/embed/?place=forum/totaljs&showsearch=true&showpopout=true&showtabs=false&parenturl=' + encodeURIComponent(window.location.href);</script>
