@{meta('How does security work?')}

<h1>How does security work?</h1>
<br />
<hr />
<br />
<div class="text">
	<ul>
		<li>Framework protects XSS automatically (<a href="http://en.wikipedia.org/wiki/Cross-site_scripting" class="link" target="_blank">Cross-site scripting</a>).</li>
		<li>Use AJAX/XHR form submitting for protection of <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery" target="_blank" class="link">CSRF attacks</a></li>
		<li>View renders an encoded HTML as default.</li>
		<li>Framework supports method for setting of <a href="http://en.wikipedia.org/wiki/Cross-origin_resource_sharing" class="link" target="_blank">CORS</a>.</li>
		<li>Framework supports auto-binding model into the form.</a>
		<li>Framework automatically checks incoming requests and bad requests automatically destroys.</a>
		<li>Framework checks length of uploading files.</a>
		<li>All requests are destroyed when don&#39;t have defined a route.</a>
	</ul>
	<div style="height:50px">
		<div class="documentation-example fl"><a href="https://github.com/totaljs/examples/tree/master/xss-protection"><b>EXAMPLE:</b> XSS protection</a></div>
		<div class="documentation-example fl"><a href="https://github.com/totaljs/examples/tree/master/csrf"><b>EXAMPLE:</b> CSRF</a></div>
		<div class="documentation-example fl"><a href="https://github.com/totaljs/examples/tree/master/cors"><b>EXAMPLE:</b> CORS</a></div>
		<div class="documentation-example fl"><a href="https://github.com/totaljs/examples/tree/master/cors"><b>EXAMPLE:</b> Auto-Binding models</a></div>
	</div>
</div>

<h2>Auto-binding Models</h2>

<div class="center">
	@{image('views-binding.png', 800, 517, 'Auto-bindings models')}
</div>