@{meta('Reverse proxy configuration')}

<h1>Reverse proxy configuration</h1>
<br />
<div class="message message-alert">
    Framework reads request headers and sometimes it needs help, because headers from reverse proxy don't contain all needed values.
</div>
<br />
<hr />
<h2>Host</h2>
<br />
<pre class="brush: jscript">req.headers['host']</pre>
<br />
<p class="text">
    The header contains a hostname of current domain. It's very important for <span class="high-code">request.uri</span>, <span class="high-code">controller.uri</span>, <span class="high-code">controller.host([path])</span>, etc..
</p>
<div><strong>NGINX: Host</strong></div>
<br />
<pre class="brush: plain">proxy_set_header  Host  $http_host;</pre>
<br />
<hr />
<h2>X-Forwarded-Protocol</h2>
<br />
<pre class="brush: jscript">req.headers['x-forwarded-protocol']</pre>
<br />
<p class="text">
    The header serves for validating whether is current request HTTP or HTTPS. It's very important for routing flags <span class="high-code">http</span> or <span class="high-code">https</span> and for e.g. <span class="high-code">framework.redirect()</span>.
</p>
<div><strong>NGINX: X-Forwarded-Protocol</strong></div>
<br />
<pre class="brush: plain">proxy_set_header  X-Forwarded-Protocol  $scheme;</pre>
<br />
<hr />
<h2>X-Forwarded-For</h2>
<br />
<pre class="brush: jscript">req.headers['x-forwarded-for']</pre>
<br />
<p class="text">
    The header contains (real) remote IP address. <span class="high-code">controller.ip</span> contains just this IP address.
</p>
<div><strong>NGINX: X-Forwarded-Protocol</strong></div>
<br />
<pre class="brush: plain">proxy_set_header  X-Forwarded-For  $remote_addr;</pre>
<br />
<hr />
<h2>Example of NGINX configuration</h2>
<br />
<pre class="brush: plain">server {
       listen      80;
       server_name www.online-clipboard.com;
       server_name online-clipboard.com;
       rewrite     ^ https://$server_name$request_uri? permanent;
}

server {
    listen 80;
    listen 443 spdy ssl;
    server_name online-clipboard.com;
    server_name www.online-clipboard.com;
    charset utf-8;

    ssl_certificate /ssl/online-clipboard.pem;
    ssl_certificate_key /ssl/online-clipboard.key;
    ssl_session_timeout 5m;

    location / {
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-For $remote_addr;
        proxy_set_header   X-Forwarded-Protocol $scheme;
        proxy_set_header   X-NginX-Proxy true;
        proxy_pass         http://127.0.0.1:8022;
        proxy_redirect     off;
        proxy_http_version 1.1;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection &quot;upgrade&quot;;
        break;
    }
}
</pre>