@{meta('How do modules work?')}

<h1>How do modules work?</h1>
<br />
<div class="message message-alert">
    Modules serve for simplification of work on a project. You can use module in other projects.
</div>
<br />
<hr />
<div class="text">
    <ul>
        <li>Module is plain JavaScript file.</li>
        <li>All modules are stored in <span class="high-code">your-app/modules/</span> directory.</li>
        <li>Framework automatically loads each module into the memory.</li>
        <li><span class="high-code">exports.install</span> is called automatically and one time.</li>
        <li>&quot;Views&quot; are loaded from <span class="high-code">your-app/views/</span> directory.</li>
        <li>All layouts are still loaded from <span class="high-code">your-app/views/</span> directory.</li>
        <li>You can create unlimited count of modules.</li>
        <li class="red">Each module can have HTTP/HTTPS route, WebSocket route and File route.</li>
        <li class="red">Module can access to all functions, properties and events.</li>
        <li class="red">Module can install/use any feature.</li>
        <li class="red">Module can create any files.</li>
        <li><a href="https://github.com/totaljs/modules" class="link">Download existing modules</a>.</li>
    </ul>
</div>
<hr />
<div class="center">@{image('framework-start.png', 810, 300, 'Starting total.js project')}</div>
<hr />
<div class="documentation-example"><a href="https://github.com/totaljs/modules">Download modules</a><a href="https://github.com/totaljs/examples/tree/master/framework-modules">Module example</a></div>

<br />
<br />
<h2 class="nmt">Module definition</h2>
<br />
<pre class="brush: jscript">// =======================================================
// IMPORTANT:
// =======================================================

// important
exports.name = 'Module name';
exports.version = '1.01';

// optional
exports.install = function(framework, options) {
    // Is executed one time
};

// optional
exports.uninstall = function(framework, options) {
    // Is executed one time
};

// optional
exports.usage = function() {
    // Must return some object.
    return {};
};

// =======================================================
// USER DEFINED:
// =======================================================

exports.myFunction = function(name) {
    return name;
};

exports.myProperty = 'Property';
</pre>
<br />
<h2>Get values from modules</h2>
<br />
<pre class="brush: jscript">

    console.log(framework.module('test').myFunction('Peter'));
    console.log(MODULE('test').myProperty);

    console.log(MODULE('test').myFunction('Peter'));
    console.log(controller.module('test').myProperty);

</pre>
<br />
<h2>How to monitor Modules?</h2>
<br />
<div class="text">
    total.js supports monitoring of modules via module usage. <a href="https://github.com/totaljs/examples/tree/master/framework-usage" class="link">Usage example</a>.
</div>
<br />
<pre class="brush: jscript">var counter = 0;

exports.install = function(framework, options) {
    framework.route('/module/', view_module);
};

exports.usage = function() {
    return { visitors: counter };
};

function view_module() {
    // this === controller
    counter++;
    this.plain('Module response.');
}
</pre>