@{meta('How do resources work?')}

<h1>How do resources work?</h1>
<br />
<div class="message message-alert">
	Resources serve for multi-language website. Are simple and effective.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>Easy to use in each code.</li>
		<li>The resource is plain text file.</li>
		<li>Framework automatically load each resource when you need.</li>
		<li>You can create unlimited count of resources.</li>
		<li class="red">The resource is readonly.</li>
		<li class="red">Resources are cached (in release mode) for 20 minutes.</li>
		<li><span class="red b">Resources are used by the validation.</span> <a href="https://github.com/totaljs/examples/tree/master/validation" class="link">Example</a>.</li>
	</ul>
</div>
<div class="documentation-example"><a href="https://github.com/totaljs/examples/tree/master/localization-resources">Resource example</a></div>
<br />
<hr />
<br />
<h2 class="nmt">Resource definition</h2>
<h3>default.resource</h3>
<pre class="brush: plain">key1           : value1

// comment
key2           : value2
key3           : &lt;b&gt;with the tag&lt;/b&gt;
</pre>
<h3>en.resource</h3>
<pre class="brush: plain">key1           : value1-en

// comment
key2           : value2-en
key3           : &lt;b&gt;with the tag-en&lt;/b&gt;
</pre>
<h3>de.resource</h3>
<pre class="brush: plain">key1           : value1-de

// comment
key2           : value2-de
key3           : &lt;b&gt;with the tag-de&lt;/b&gt;
</pre>
<br />
<h2>Read from resources</h2>

<h3>framework.resource()</h3>
<div class="text"><a href="/Framework/#framework.resource" class="link">Documentation: framework.resource()</a></div>
<br />
<pre class="brush: jscript">console.log(framework.resource('key1'));
// value1

console.log(framework.resource('en', 'key1'));
// value1-en

console.log(framework.resource('de', 'key1'));
// value1-de
</pre>
<h3>controller.resource()</h3>
<div class="text"><a href="/FrameworkController/#controller.resource" class="link">Documentation: controller.resource()</a></div>
<br />
<pre class="brush: jscript">console.log(controller.resource('key2'));
// value2

console.log(controller.resource('en', 'key2'));
// value2-en

console.log(controller.resource('de', 'key2'));
// value2-de
</pre>
<h3>@&#123;resource()&#125;</h3>
<div class="text"><a href="/FrameworkViews/#resource" class="link">Documentation: @&#123;resource()&#125;</a></div>
<br />
<pre class="brush: xml">@&#123;resource('key3')&#125;
&lt;!-- Encoded: &amp;lt;b&amp;gt;with the tag&amp;lt;/b&amp;gt; --&gt;

@&#123;!resource('key3')&#125;
&lt;!-- Raw: &lt;b&gt;with the tag&lt;/b&gt; --&gt;

@&#123;resource('en', 'key3')&#125;
&lt;!-- Encoded: &amp;lt;b&amp;gt;with the tag-en&amp;lt;/b&amp;gt; --&gt;

@&#123;!resource('en', 'key3')&#125;
&lt;!-- Raw: &lt;b&gt;with the tag-en&lt;/b&gt; --&gt;

@&#123;resource('de', 'key3')&#125;
&lt;!-- Encoded: &amp;lt;b&amp;gt;with the tag-de&amp;lt;/b&amp;gt; --&gt;

@&#123;!resource('de', 'key3')&#125;
&lt;!-- Raw: &lt;b&gt;with the tag-de&lt;/b&gt; --&gt;
</pre>