@{meta('How do components work?')}

<h1>How do components work?</h1>
<br />
<div class="message message-alert">
	<b>Components are for rendering data (sync).</b> You can use components in other projects.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>Component is plain JavaScript file.</li>
		<li>All components are stored in <span class="high-code">your-app/components/</span> directory.</li>
		<li>Framework automatically load each component into the memory.</li>
		<li><span class="high-code">exports.install</span> is called automatically and one time.</li>
		<li>You can create unlimited count of components.</li>
		<li><span class="high-code">index.js</span> is start script for components in separate directories.</li>
		<li class="red">Component can access to all functions, properties and events.</li>
		<li><b>Component can inject from URL address</b> - <a href="https://github.com/totaljs/examples/tree/master/framework-inject-component" class="link">Example</a>.</li>
		<li><a href="https://github.com/totaljs/components" class="link">Download existing modules</a>.</li>
	</ul>
</div>
<hr />
<div class="center">@{image('framework-start.png', 810, 300, 'Starting total.js project')}</div>
<hr />
<div class="documentation-example"><a href="https://github.com/totaljs/components">Download components</a><a href="https://github.com/totaljs/examples/tree/master/components">Component example</a></div>
<br />
<br />
<h2 class="nmt">Component definition</h2>
<br />
<pre class="brush: jscript">// Component name: test
var configuration = {};

exports.install = function(framework, name) {

	// Initialize function (is executed automatically one time)

}

exports.configure = function(obj) {
	configuration = utils.extend(configuration, obj);
};

// THIS EXPORTED FUNCTION IS REQUIRED
exports.render = function(arr) {
	var builder = [];
	arr.forEach(function(item) {
		builder.push('&lt;li&gt;' + item + '&lt;/li&gt;');
	});
	return builder.join();
};
</pre>
<br />
<h2>Usage</h2>
<h3>Universal usage</h3>
<pre class="brush: jscript">// TIP: use definition for configuration
console.log(framework.component('test').configure({ option: true }));

// Render component
console.log(framework.component('test').render([1, 2, 3, 4]));
</pre>
<br />
<h3>In controllers</h3>
<pre class="brush: jscript">
function view_homepage() {
	var self = this;
	self.plain(self.component('test', [1, 2, 3, 4]));
}
</pre>
<br />
<h3>In views and templates</h3>
<pre class="brush: xml">&lt;div&gt;@&#123;component('test', [1, 2, 3, 4])&#125;&lt;/div&gt;

&lt;!-- OR --&gt;

&lt;div&gt;@&#123;component('test', model)&#125;&lt;/div&gt;

&lt;!-- OR --&gt;

&lt;div&gt;@&#123;component('test', repository.customData)&#125;&lt;/div&gt;
</pre>
<br />
<h2>Monitoring of components</h2>
<br />
<div class="text">
	total.js supports monitoring of components via component usage. <a href="https://github.com/totaljs/examples/tree/master/framework-usage" class="link">Usage example</a>.
</div>
<br />
<pre class="brush: jscript">var counter = 0;

exports.install = function(framework, name) {
	framework.route('/module/', view_module);
};

exports.usage = function() {
	return { count: counter };
};

// THIS EXPORTED FUNCTION IS REQUIRED
exports.render = function(arr) {
	counter++;
	var builder = [];
	arr.forEach(function(item) {
		builder.push('&lt;li&gt;' + item + '&lt;/li&gt;');
	});
	return builder.join('\n');
};
</pre>
