@{meta('How do templates work?')}

<h1>How do &quot;templates&quot; work?</h1>
<br />
<div class="message message-alert">
	Templates are rendering data from database or from <span class="high-code">Array</span> collection. It&#39;s safe, simple and comfortable for rendering data from database.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>Template is plain HTML file.</li>
		<li><b class="red">IMPORTANT:</b> Server tags are represented as <span class="high-code">@&#123;keyword&#125;</span> (encoded) tag and <span class="high-code">@&#123;!keyword&#125;</span> (raw) tag.</li>
		<li>Templates are the same as views.</li>
		<li>Templates support helpers.</li>
		<li class="red b">Templates can render other Templates or Views.</li>
		<li class="red">Templates are synchronous.</li>
		<li class="red">Templates are compiled into the function.</li>
		<li class="red">All templates (HTML) are minimized under compilation (total.js saves memory).</li>
		<li class="red">Render template engine is fixed (the only option for changing render engine is rewriting of the prototype).</li>
	</ul>
</div>
<hr />
<br />
<div class="center">@{image('templates.png', 810, 220, 'Views')}</div>
<h2>Difference between templates and views</h2>
<div class="text">
	<b class="red"><u>Templates</u> are rendered in a loop and <u>views</u> are rendered once.</b> Templates are the same as views and have only two differences: <b>model</b> and <b>repository</b>. These two properties are filled from command: template(name, <b>model</b>, empty, <b>repository</b>).
</div>
<br />
<h2>Important tags</h2>
<div class="text">
	<br />
	<div class="keyvalue">
		<div>@&#123;model}</div>
		<div>current item from array (if item is number/string/boolean)</div>
	</div>
	<div class="keyvalue">
		<div>@&#123;model.property}</div>
		<div>current item from array (if item is object)</div>
	</div>
	<div class="keyvalue">
		<div>@&#123;index}</div>
		<div>get current index in array</div>
	</div>
	<div class="keyvalue">
		<div>@&#123;repository.property}</div>
		<div>get value from the repository object</div>
	</div>
	<div class="keyvalue">
		<div>other tags</div>
		<div><a href="/FrameworkViews/" class="link">FrameworkViews</a></div>
	</div>
</div>
<br />
<h2>Define template</h2>
<div class="text">
	You can define a lot of template files.
</div>
<div class="documentation-example"><a href="https://github.com/totaljs/examples/tree/master/templates">Example</a></div>
<h3>Mode: repeat all</h3>
<div class="text">
	Mode: &quot;repeat all&quot; is repeating of all HTML code by the array collections.
</div>
<br />
<pre class="brush: xml">
	&lt;div&gt;@&#123;model.name&#125;&lt;/div&gt;
	&lt;div&gt;@&#123;model.registered.format('yyyy-MM-dd')&#125;&lt;/div&gt;
</pre>
<br />
<div class="fs11 mb10"><strong>EXAMPLE OF OUTPUT</strong>:</div>
<pre class="brush: xml">
	&lt;div&gt;Peter&lt;/div&gt;
	&lt;div&gt;2013-10-15&lt;/div&gt;
	&lt;div&gt;John&lt;/div&gt;
	&lt;div&gt;2013-10-12&lt;/div&gt;
	&lt;div&gt;Lucia&lt;/div&gt;
	&lt;div&gt;2013-10-05&lt;/div&gt;
</pre>
<br />
<hr />
<h3>Mode: repeat block</h3>
<div class="text">
	Mode: &quot;repeat block&quot; is repeating of all HTML code in the commented code.
</div>
<br />
<pre class="brush: xml">
	&lt;ul&gt;
		@&#123;foreach&#125;
		&lt;li&gt;
			&lt;div&gt;@&#123;model.name&#125;&lt;/div&gt;
			&lt;div&gt;@&#123;model.registered.format('yyyy-MM-dd')&#125;&lt;/div&gt;
		&lt;/li&gt;
		@&#123;end&#125;
	&lt;/ul&gt;
</pre>
<br />
<div class="fs11 mb10"><strong>EXAMPLE OF OUTPUT</strong>:</div>
<pre class="brush: xml">
	&lt;ul&gt;
		&lt;li&gt;
			&lt;div&gt;Peter&lt;/div&gt;
			&lt;div&gt;2013-10-15&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;div&gt;John&lt;/div&gt;
			&lt;div&gt;2013-10-12&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;div&gt;Lucia&lt;/div&gt;
			&lt;div&gt;2013-10-05&lt;/div&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
</pre>
<br />
<hr />
<h3>Mode: repeat the comment code with a repository object</h3>
<pre class="brush: xml">
	&lt;ul&gt;
		@&#123;foreach&#125;
		&lt;li&gt;
			&lt;div&gt;@&#123;model.name&#125;&lt;/div&gt;
			&lt;div&gt;@&#123;model.registered.format('yyyy-MM-dd')&#125;&lt;/div&gt;
		&lt;/li&gt;
		@&#123;end&#125;
	&lt;/ul&gt;
	&lt;div&gt;@&#123;repository.items.format('### ###')&#125; @&#123;repository.items.pluralize('items', 'item', 'items', 'items')&#125;&lt;/div&gt;
</pre>
<br />
<div class="fs11 mb10"><strong>EXAMPLE OF OUTPUT</strong>:</div>
<pre class="brush: xml">
	&lt;ul&gt;
		&lt;li&gt;
			&lt;div&gt;Peter&lt;/div&gt;
			&lt;div&gt;2013-10-15&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;div&gt;John&lt;/div&gt;
			&lt;div&gt;2013-10-12&lt;/div&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;div&gt;Lucia&lt;/div&gt;
			&lt;div&gt;2013-10-05&lt;/div&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
	&lt;div&gt;3 items&lt;/div&gt;
</pre>
<br />
<br />
<div class="center">
	@{image('templates-more.png', 800, 333, 'Templates')}
</div>
<h2>IMPORTANT</h2>
<h3>A number formatting</h3>
<div class="text">
	<div class="mb10">This mark uses: <a href="/Number.prototype/#Number.prototype.format" class="link">Number.prototype.format()</a>.</div>
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;
				&lt;div&gt;@&#123;model.name}&lt;/div&gt;
				&lt;div&gt;@&#123;model.price.format('### ###.##)}&lt;/div&gt;
			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;
	</pre>
</div>

<h3>A date &amp; time formatting</h3>
<div class="text">
	<div class="mb10">This mark uses: <a href="/Date.prototype/#Date.prototype.format" class="link">Date.prototype.format()</a>.</div>
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;
				&lt;div&gt;@&#123;model.name}&lt;/div&gt;
				&lt;div&gt;@&#123;model.date.format('dd.MM.yyyy')} at @&#123;model.date.format('HH:mm:ss')}&lt;/div&gt;
			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;
	</pre>
</div>

<h3>Pluralize number</h3>
<div class="text">
	<div class="mb10">This mark uses: <a href="/Number.prototype/#Number.prototype.pluralize" class="link">Number.prototype.pluralize()</a>.</div>
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;
				&lt;div&gt;@&#123;model.count.pluralize('zero', 'one', 'few', 'other')}&lt;/div&gt;
			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;
	</pre>
</div>

<h3>A string formatting (maximum characters)</h3>
<div class="text">
	<div class="mb10">This mark uses: <a href="/String.prototype/#String.prototype.max" class="link">String.prototype.max()</a>.</div>
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;
				&lt;div&gt;@&#123;model.name.max(20)}&lt;/div&gt;
			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;
	</pre>
</div>

<h3>Template condition</h3>
<div class="text">
	Templates support very simple conditions.
</div>
<div class="text mt10">
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;

				@&#123;if model.selected === true}
					&lt;div&gt;SELECTED&lt;/div&gt;
				@&#123;endif}

				@&#123;if model.date.getFullYear() === 2014}
					Current
				@&#123;else}
					Last
				@&#123;endif}

			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;
	</pre>
</div>
<div class="documentation-example mt10"><a href="https://github.com/totaljs/examples/tree/master/templates">Complete example</a></div>

<h3>How to get a repository object from the controller?</h3>
<br />
<pre class="brush: xml">
	&lt;div&gt;@&#123;controller.repository.name&#125;&lt;/div&gt;
	&lt;div&gt;@&#123;model.age&#125;&lt;/div&gt;
</pre>
<br />
<h3>How to get a current model object from the view?</h3>
<br />
<pre class="brush: xml">
	&lt;div&gt;@&#123;controller.$model.name&#125;&lt;/div&gt;
	&lt;div&gt;@&#123;model.age&#125;&lt;/div&gt;
</pre>
<br />

<h3>Render Template or View in a current template</h3>
<div class="text mt10">
	<pre class="brush: jscript">
		var model = [
			{ alias: 'Peter', information: { age: 29, sex: 'male' }, tags: ['JavaScript', 'CSS', 'HTML', 'node.js'] },
			{ alias: 'Jozef', information: { age: 26, sex: 'male' }, tags: ['Java', 'Objective-C', 'C#'] },
			{ alias: 'Lucia', information: { age: 32, sex: 'female' }, tags: ['copywriting'] }
		];</pre>
	<br />
	<pre class="brush: xml">
		&lt;ul&gt;
		@&#123;foreach&#125;
			&lt;li&gt;
				&lt;div&gt;@&#123;model.alias}&lt;/div&gt;
				&lt;div&gt;@&#123;view('user', model.information)&#125;&lt;/div&gt;
				&lt;div&gt;@&#123;template('tags', model.tags)&#125;&lt;/div&gt;
			&lt;/li&gt;
		@&#123;end&#125;
		&lt;/ul&gt;</pre>
</div>