@{meta('How does validation work?')}

<h1>How does validation work?</h1>
<br />
<div class="message message-alert">
	Framework has simple validation logic for validating of models. You can use this logic for server side and<br />for the client side.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>All logic of validation is in one delegate - framework.onValidation().</li>
		<li>Validation can be used in controller.</li>
		<li>Result of validation is <a href="/Builders.ErrorBuilder/" class="link">Builders.ErrorBuilder</a>.</li>
		<li>For the validation use <a href="/Builders.SchemaBuilder/" class="link">Builders.SchemaBuilder</a> - <a href="https://github.com/totaljs/examples/tree/master/framework-schema" class="link">Schema validation example</a>.</li>
		<li class="red">Result of validation can serialize into the JSON format.</li>
		<li>Documentation: <a href="/Framework/#framework.onValidation" class="link">framework.onValidation()</a></li>
	</ul>
</div>
<div class="documentation-example"><a href="https://github.com/totaljs/examples/tree/master/validation">Validation example</a></div>
<br />
<hr />
<div class="center">@{image('total-validation.png', 810, 290, 'Framework validation')}</div>
<h2>Definition of validation</h2>
<div class="text mt15">
	Delegate you can define in some definition file. <a href="/how-does-it-work/definitions/" class="link">How do definitions work?</a>.
</div>
<br />
<pre class="brush: jscript">framework.onValidation = function(name, value) {
    switch (name) {
        case 'firstname':
        case 'lastname':
            return value.length > 0;
        case 'isTerms':
            return value === true || value == '1';
        case 'age':
            var age = value.toString().parseInt();
            return age > 10 &amp;&amp; age &lt; 90;
        case 'email':
            return value.isEmail();
    }
}
</pre>
<br />
<h2>Validate some model</h2>
<br />
<pre class="brush: jscript">function someActionInController() {

	var self = this;
	var model = self.post;

	var error = self.validate(model, ['firstname', 'lastname']);

	if (error.hasError()) {

		// response error
		// Example: [{ &quot;name&quot;: &quot;firstname&quot;, &quot;error&quot;: &quot;first name is required&quot; }]
		self.json(error);
		return;

	}

	// insert model into the DB
	self.database('users').insert(model);

	// response success
	self.json({ r: true, message: 'success' });
}
</pre>
<br />
<h2>Benefits</h2>
<br />
<div class="text">
	<b>This validation logic has several benefits:</b>
	<ul>
		<li>You can use similar code for client side code.</li>
		<li>You can validate any model.</li>
		<li>All conditions for validation are in one place.</li>
		<li>You can use SchemaBuilder for preparing and cleaning of models.</li>
		<li>The logic of validation is linked with resources.</li>
		<li>You can modify errors in ErrorBuilder.</li>
		<li>ErrorBuilder can be serialized into the JSON format.</li>
	</ul>
</div>
