@{meta('How do definitions work?')}

<h1>How definitions work?</h1>
<br />
<div class="message message-alert">
	Definitions initialize framework settings.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>A <b>Definition</b> is plain JavaScript file.</li>
		<li>Framework automatically loads each definition.</li>
		<li>You can create unlimited definitions.</li>
		<li class="red">Definitions can access framework functions, properties and events.</li>
		<li class="red">Definitions can inject controller, config and module from URL.</li>
		<li class="red">Definitions can create files.</li>
		<li><b>Definitions can be injected from a URL address</b> - <a href="https://github.com/totaljs/examples/tree/master/framework-inject-definition" class="link">Example</a>.</li>
	</ul>
</div>
<!--
<div class="documentation-example"><a href="https://github.com/totaljs/examples/tree/master/framework-definitions">Definition example</a></div>
<br />
-->
<hr />
<div class="center">@{image('framework-start.png', 810, 300, 'Starting total.js project')}</div>
<hr />
<br />
<br />
<h2 class="nmt">Defining a definition</h2>
<br />
<pre class="brush: jscript">

// framework == Framework
// utils == FrameworkUtils

// Example:
framework.injectModule('test', 'http://www.totaljs.com/inject.js');

framework.custom = {};
framework.custom.myName = 'Peter Širka';

framework.config.secret += utils.GUID(5);

framework.helpers.now = function(format) {
	return new Date().format(format || 'dd.MM.yyyy');
};

// Set restrictions
framework.restrictions.disallow('192.168.0.1');
framework.restrictions.disallow('user-agent', /MSIE/);

// Set redirects
framework.redirect('http://totaljs.com', 'http://www.totaljs.com', true, true);

</pre>
<br />
