@{meta('How do controllers work?')}

<h1>How do controllers work?</h1>
<br />
<div class="message message-alert">
	In controllers you can define routes and actions. Each action is executed by the route. In controller you can<br />define 3 types of route - HTTP/HTTPS, WebSocket and File.
</div>
<br />
<hr />
<div class="text">
	<ul>
		<li>Controller is plain JavaScript file.</li>
		<li>You can put file of controller into the different directories.</li>
		<li>All controllers are stored in <span class="high-code">your-app/controllers/</span> directory.</li>
		<li>Framework automatically loads each controller into the memory.</li>
		<li><span class="high-code">exports.install</span> is executed automatically and one time.</li>
		<li>You can add any name of controller (with .js extension).</li>
		<li>By the controller name are loaded &quot;views&quot; from <span class="high-code">your-app/views/your-controller-name/</span> directory.</li>
		<li>&quot;Views&quot; by the default.js controller are loaded from <span class="high-code">your-app/views/</span> directory.</li>
		<li>All layouts are still loaded from <span class="high-code">your-app/views/</span> directory.</li>
		<li>You can create unlimited count of controllers.</li>
		<li>Each controller can have HTTP/HTTPS route, WebSocket route and File route.</li>
		<li><b>Controller can inject from URL address</b> - <a href="https://github.com/totaljs/examples/tree/master/framework-inject-controller" class="link">Example</a>.</li>
		<li><b>Route to controller supports a routing according subdomains</b> - <a href="https://github.com/totaljs/examples/tree/master/routing-subdomain" class="link">Example</a>.</li>
	</ul>
</div>
<hr />
<div class="center">@{image('framework-start.png', 810, 300, 'Starting total.js project')}</div>
<hr />
<br />
<h2 class="nmt">Controller definition</h2>
<br />
<pre class="brush: jscript">// Must be defined in each controller
exports.install = function(framework, name) {

	// this place is for definition routes (HTTP, CUSTOM STATIC FILES, WEBSOCKETS)
	// http://docs.totaljs.com/Framework/#framework.route
	framework.route('/', view_homepage);
	framework.route('/xhr/contact-form/', json_contactform, ['post', 'xhr']);

	// http://docs.totaljs.com/Framework/#framework.websocket
	framework.websocket('/', socket_chat, ['json']);

	// http://docs.totaljs.com/Framework/#framework.file
	framework.file('*.pdf download counter', file_download);

}

// Inline define a route
framework.route('/account/{alias}/', { flags: ['+xhr'] }, function(alias) {
	var self = this;
	var model = { alias: alias };

	if (self.xhr)
		self.json(model);
	else
		self.view('account', model);
});

framework.route('/contact/', function() {
	var self = this;
	self.view('contact');
});

function view_homepage() {

	// this === controller
	var self = this;
	self.view('homepage');

}

function json_contactform() {

	// this === controller
	var self = this;

	// validate data
	// save data to DB
	// send e-mail
	...
	...
	...
	// return a response
	self.json({ r: true });

}

function socket_chat(controller, framework) {

	// Define websocket events
	// client === http://docs.totaljs.com/FrameworkWebSocketClient/
	controller.on(&#39;open&#39;, function(client) {

		// connect user
		console.log(&#39;Online:&#39;, controller.online);

		client.send({ message: &#39;Hello {0}&#39;.format(client.id) });
		controller.send({ message: &#39;Connect new user: {0}&#92;nOnline: {1}&#39;.format(client.id, controller.online) }, [], [client.id]);

	});

	controller.on(&#39;close&#39;, function(client) {

		// disconnect user
		console.log(&#39;Online:&#39;, controller.online);
		controller.send({ message: &#39;Disconnect user: {0}&#92;nOnline: {1}&#39;.format(client.id, controller.online) });

	});

	controller.on(&#39;message&#39;, function(client, message) {
		// send to all without this client
		message.message = client.id + &#39;: &#39; + message.message;
		controller.send(message);

	});

	controller.on(&#39;error&#39;, function(error, client) {
		console.log('WEBSOCKET ERROR', error);
	});

}

var counter = 0;

// Handling files is optimized for the performance
function file_download(req, res, isValidation) {

	if (isValidation)
		return req.url.toLowerCase().substring(req.url.length - 4) === '.pdf';

	// this === framework
	var self = this;
	var filename = path.basename(req.url);

	counter++;

	// http://docs.totaljs.com//Framework/#framework.responseFile
	self.responseFile(req, res, self.path.public(filename), filename);
};

</pre>
<br />
<h2>How to share functions and models between controllers?</h2>
<br />
<div class="text">
	Controller supports sharing of models and functions between controllers. <a href="https://github.com/totaljs/examples/tree/master/controller-sharing" class="link">Sharing example</a>.
</div>
<h3>Controller: users.js</h3>
<div class="text">
	In this controller we set functions and models for sharing.
</div>
<br />
<pre class="brush: jscript">exports.install = function(framework, name) {
	framework.route('/users/', view_users);
};

exports.models = {
	users: ['Peter', 'Lucia', 'Zuzana', 'Veronika']
};

exports.functions = {
	exists: function(name) {
		return exports.models.users.indexOf(name) &gt; -1;
	}
};

function view_users() {
	this.json(exports.models.users);
}
</pre>
<h3>Controller: default.js</h3>
<p class="text" style="margin-bottom:20px">
	Look to line 8. In this line we load controller functions from 'users.js' controller.
</p>
<pre class="brush: jscript">exports.install = function(framework, name) {
	framework.route('/', view_homepage);
};

function view_homepage() {
	var self = this;

	var users = self.functions('users');

	// console.log(self.models('users').users);

	var builder = [];

	builder.push('Exists: Peter = {0}'.format(users.exists('Peter')));
	builder.push('Exists: Jolaus = {0}'.format(users.exists('Jolaus')));
	builder.push('Exists: Lucia = {0}'.format(users.exists('Lucia')));
	builder.push('');
	builder.push('All users: {0}users/'.format(utils.path(self.req.uri.href)));

	self.plain(builder.join('&amp;#92;'));
}
</pre>
<br />
<h2>Monitoring of controllers</h2>
<br />
<p class="text" style="margin-bottom:20px">
	total.js supports monitoring of controllers via controller usage. <a href="https://github.com/totaljs/examples/tree/master/framework-usage" class="link">Usage example</a>.
</p>
<pre class="brush: jscript">var counter = 0;

exports.install = function(framework, name) {
	framework.route('/', view_homepage);
	framework.route('/usage/', plain_usage);
};

exports.usage = function() {
	return { visits: counter };
};

function view_homepage() {
	var self = this;
	counter++;
	self.view('homepage');
}

function plain_usage() {
	var self = this;
	self.json(self.framework.usage(true));
}
</pre>
<br />
<h2>Obscuring routes</h2>
<br />
<p class="text">
Routes can be obscured using a hash. You can generate short hashes from numbers (like YouTube and Bitly). To obfuscate database IDs, use them as forgotten password hashes, invitation codes, store shard numbers.
</p>
<pre class="brush: jscript">
// In your controller
exports.install = function(framework) {
  framework.route('/register/{hash}/', view_register);
}

function view_register(hash) {
   console.log(hash);
   this.plain('register –> ' + hash);
}
</pre>
<br />
<h2>Defining system routes</h2>
<br />
<p class="text">
	All system routes are optional.
</p>
<pre class="brush: jscript">exports.install = function(framework) {
	framework.route('#400', error400);
	framework.route('#401', error401);
	framework.route('#403', error403);
	framework.route('#404', error404);
	framework.route('#408', error408);
	framework.route('#431', error431);
	framework.route('#500', error500);
	framework.route('#501', error501);
};

// Bad Request
function error400() {
	var self = this;
	self.statusCode = 401;
	self.plain(utils.httpStatus(self.statusCode));
}

// Unauthorized
function error401() {
	var self = this;
	self.statusCode = 401;
	self.plain(utils.httpStatus(self.statusCode));
}

// Forbidden
function error403() {
	var self = this;
	self.statusCode = 403;
	self.plain(utils.httpStatus(self.statusCode));
}

// Not Found
function error404() {
	var self = this;
	self.statusCode = 404;
	self.plain(utils.httpStatus(self.statusCode));
}

// Request Timeout
function error408() {
	var self = this;
	self.statusCode = 408;
	self.plain(utils.httpStatus(self.statusCode));
}

// Request Header Fields Too Large
function error431() {
	var self = this;
	self.statusCode = 431;
	self.plain(utils.httpStatus(self.statusCode));
}

// Internal Server Error
function error500() {
	var self = this;
	self.statusCode = 500;
	self.plain(utils.httpStatus(self.statusCode));
}

// Not Implemented
function error501() {
	var self = this;
	self.statusCode = 501;
	self.plain(utils.httpStatus(self.statusCode));
}</pre>
<br />
<h2>How to write controllers?</h2>
<div class="documentation-example">
	<a href="https://github.com/totaljs/examples/tree/master/project-structure">Project structure</a>
</div>