@{helper menu(items)}
    <ul>
        @{foreach m in items}
        <li><a href="@{m.url}">@{m.name}</a></li>
        @{end}
    </ul>
@{end}

<div><strong>Documentation</strong></div>
@{menu(repository.menu)}
<br />
<div><strong>Builders</strong></div>
@{menu( repository.menuBuilders)}
<br />
<div><strong>Prototypes</strong></div>
@{menu(repository.menuPrototypes)}
<br />
<div><strong>Additional</strong></div>
@{menu(repository.menuAdditional)}
<br />
<div><strong>Globals</strong></div>
@{menu(repository.menuGlobals)}