@{meta('Search result')}

<h1>Search result (@{model.length})</h1>
<br />
<br />

@{foreach var m in model}
<div class="search-result">
    <a href="@{m.document.url}" class="search-title"><strong>@{m.document.name}</strong></a>
    <div class="search-description">@{!m.document.description}</div>
    <div><a href="@{m.document.url}" class="search-link">@{m.document.url}</a></div>
</div>
@{end}

@{if model.length === 0}
<hr />
<div class="center">
    <h3>No search result.</h3>
    <div>Try to change search phrase. Search engine is searching in documentation only<br />(properties, events, methods and delegates).</div>
    <br />
</div>
<hr />
@{endif}