@{meta('Total.js Package Manager')}

<h1>Total.js Package Manager</h1>
<br />
<div>
    <p class="text">Firstly you must install total.js from NPM as global package. NPM registers a binary files.<p>
    <pre class="brush: plain">$ npm install -g total.js</pre>
    <br />
    <h2>How does it to work?</h2>
    <br />
    <p class="text">
        Package is a text plain file and contains binary files which are GZIPPed and encoded into the BASE64 string.
    </p>
    <pre class="brush: plain">$ tpm help</pre>
</div>
