@{meta('total.js videos')}

<h1>partial.js videos (PREVIOUS VERSION)</h1>
<br />
<div class="text">Watch great partial.js videos on YouTube. Almost every video contains example to download.</div>
<br />
<h2>Why is node.js and total.js awesome?</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/4Vrqx0UnpYk" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>Node.js / partial.js debugging of web applications</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/4wLq_bJ_sfs" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>partial.js / node.js - balancing of requests</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/1VOJ7cWoboo" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>HTML 5 Server-Sent Events (JavaScript) via partial.js &amp; node.js</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/XoWIv3xGxR4" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>node.js / partial.js - Live streaming via multipart/x-mixed-replace + CSS auto vendor prefix</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/qZqO4c4Fw2k" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>Deployment of partial.js / node.js website on appfog.com (freehosting)</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/kZvCCyR6iBI" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>WebSocket (Real-time) HTML5 Chat in 5 minutes - node.js &amp; partial.js</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/lW1vsKMUaKg" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>Web application framework for node.js</h2>
<div>
	<iframe width="800" height="600" src="//www.youtube.com/embed/3GMQJki82Lo" frameborder="0" allowfullscreen></iframe>
</div>