/*auto*/

body { padding:20px; margin:0; font:normal 12px Arial; background: #F0F0F0 url(../img/bg-content.jpg) repeat 0 0; color: #505050; font-size: 14px; }

.container {  width: 1080px; margin: 0 auto; }
.content { width: 810px; background-color: white; border-radius: 3px; box-shadow: 2px 2px 5px silver; padding: 20px; border:1px solid #D0D0D0; float: left; margin-left: 20px; }
.menu { width: 150px; background-color: white; border-radius: 3px; box-shadow: 2px 2px 5px silver; padding: 20px; border:1px solid #D0D0D0; float: left; }
.cl { clear: both; }

.menu ul { margin: 5px 0 0 0; padding: 0; list-style-type: none; }
.menu ul li { border-bottom: 1px dotted #D0D0D0; padding: 2px 0; }
.menu ul a { display: block; text-decoration: none; color: black; font-size: 11px; padding: 3px 3px; border-radius: 4px; }
.menu ul a:hover { background-color: #F0F0F0; }
.menu .selected { background-color: black !important; color: white !important; }

.documentation-container { margin-top: 20px; padding-bottom: 20px; border-bottom: 1px dotted #D0D0D0; }
.documentation-name { font-weight: bold; color: black; font-size: 18px; }
.documentation-name em { display: block; font-weight: normal; margin:15px 0; font-size: 14px; }
.documentation-name span:first-child { float: left; color: black; }
.documentation-name .high-code { float: right; }
.documentation-description { font-size: 14px; margin-top: 15px; color: gray; line-height: 18px; }
.documentation-return { color: #49942A; font-size: 14px; }
.documentation-return a { color: #49942A; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #49942A; }
.documentation-param { color: #166A94; margin: 10px 0 15px 0; padding: 8px 0 5px 0; list-style-type: none; background-color: #F0F0F0; border-radius: 5px; }
.documentation-param li { margin: 0 0 0 20px; padding: 0; }
.documentation-param-item { float: left; width: 180px; }
.documentation-param-container { height: 20px; }
.documentation-param span { float: left; }
.documentation-param a { color: #166A94; font-weight: bold; text-decoration: none; border-bottom: 1px dotted #166A94; background-color: #D0D0D0; padding: 0 5px; }
.documentation-param a:hover { background-color: #E0E0E0; }

.documentation-param2 { color: #166A94; margin: 5px 20px 8px 0; padding: 8px 0 5px 0; list-style-type: none; display: block; background-color: white; border-radius: 4px; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; }
.documentation-param2 li { height: 20px; margin: 0 0 0 10px; padding: 0; }
.documentation-param2 div { float: left; width: 200px; }
.documentation-param2 span { float: left; }

.documentation-param-option { background-color: white; padding: 0 5px !important; border-radius: 4px; margin:1px 5px 0 0; font-size: 10px; color: gray; border: 1px solid #D0D0D0; height: 14px; line-height: 14px; }
.documentation-param-description { color: gray; font-size: 12px; float: left; margin-top: 1px; }
.documentation-param-default { float: right !important; margin:2px 5px 0 0; font-size: 11px !important; height: 13px; line-height: 12px; font-family: 'Consolas', 'Courier New'; background-color: #D0D0D0; border-radius: 4px; padding: 1px 5px 0 5px; color: #505050; font-weight: bold; }

.documentation-options { height: 25px; margin: 8px 0 0 0; }
.documentation-options span { float: left; padding: 1px 7px; background-color: #E0E0E0; color: #505050; text-shadow: 1px 1px 1px white; font-size: 11px; margin-right: 5px; border-radius: 4px; border-bottom: 2px solid silver; }
.doc-internal { background-color: #FFDBD8 !important; }
.doc-important { background-color: #FFDBD8 !important; }
.documentation-list a { font-size: 16px; color: black; text-decoration: none; border-bottom: 1px dotted gray; padding-bottom: 2px; display: block; margin-bottom: 3px; }
.documentation-list a:hover { border-bottom: 1px dotted #505050; color: #505050; }
.documentation-list span { color: gray; }
.documentation-example { height: 30px; }
.documentation-example a { border:1px solid #D3D37D; border-radius: 4px; border-bottom: 2px solid #D3D37D; padding: 2px 10px; text-decoration: none; margin: 10px 0 0 0; color: #898951; float: left; font-size: 12px; background-color: #FFFE97; margin-right: 10px; }
.documentation-example a:hover { background-color: #FFFEBF; }

.documentation-type { font-size: 12px; }

.high-code { position: relative; padding: 1px 5px; border-radius: 3px; background-color: #E0E0E0; color: #505050; font-family: 'Consolas', 'Courier New'; font-size: 11px; font-weight: bold; }

h1 { margin: 0; padding: 0; letter-spacing: -1px; font: bold 33px Arial; color: black; }
h2 { margin: 20px 0 10px 0; padding: 0; letter-spacing: -1px; font: bold 23px Arial; background-color: #D0D0D0; padding: 3px 5px; border-radius: 4px; color: black; }
h3 { margin: 20px 0 10px 0; padding: 0; font: bold 18px Arial; color: #505050; }
h4 { margin: 10px 0 10px 0; padding: 0; font: bold 14px Arial; color: gray; }

.text { line-height: 18px; }
.text .high-code { font-size: 13px; }
.text p { margin: 0; padding: 0; }
p.text { margin: 0 0 20px 0; padding: 0; }

.links { margin: 25px 0 40px 0; }
.links li { margin-bottom: 8px; }
.links a { font-size: 16px; color: black; text-decoration: none; border-bottom: 1px dotted gray; padding-bottom: 2px; }
.links a:hover { border-bottom: 1px dotted black; }

.center { text-align: center; }
.silver { color: silver; }
.red { color: red; }
.fs11 { font-size: 11px; }
.fs12 { font-size: 12px; }
.fl { float: left; }

hr { border: 0; border-bottom: 1px solid #D0D0D0; border-top: 1px solid #F0F0F0; height: 1px; background-color: white; }
.b { font-weight: bold !important; }

.nmt { margin-top: 0 !important; }
.nu { text-decoration: none; }

.mt2 { margin-top: 2px; }
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt6 { margin-top: 6px; }
.mt7 { margin-top: 7px; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }

.image { background-color: #F0F0F0; text-align: center; padding: 50px 0; border-radius: 10px; border-bottom: 5px solid #D0D0D0; }
.image img { border-radius: 4px; box-shadow: 0 3px 5px silver; }
.image div { margin:25px auto 0 auto; width: 400px; font-size: 11px; color: gray; text-align: center; background-color: white; padding: 5px 0; border-radius: 20px; border: 1px solid #D0D0D0; }

a.link { text-decoration: none; border-bottom: 1px dotted #007CC7; color: #007CC7; }
a.link:hover { color: #0092E6; }

.message { padding: 15px; min-height: 16px; border-radius:4px; font-size: 15px; line-height: 18px; }
.message-alert { background-color: #fcf8e3; border: 1px solid #fbeed5; color:#c09853; }
.message-alert a { color: #9f793c; }
.message-success { background-color: #dff0d8; border: 1px solid #d6e9c6; color:#458847; }
.message-success a { color: #386D4E; }
.message-info { background-color: #d9edf7; border: 1px solid #bce8f1; color:#3a87ad; }
.message button { position: relative; right: 0; top: -6px; border: 0; background: transparent; font:normal 20px Arial; color: silver; float: right; cursor: pointer; width: 20px; }
.message button:active { top:-5px; }

.high { padding: 0 4px; border: 1px solid #E0E0E0; color: #505050; background-color: #F0F0F0; border-radius: 4px; }
.version { position: absolute; font: bold 20px Arial; background-color: white; border-radius: 4px; padding: 5px 10px; box-shadow: 2px 2px 5px silver; margin: -60px 0 0 914px; text-align: center; line-height: 20px; width: 130px; }
.version div { font-size: 11px; font-weight: normal; color: gray; }

.search { height: 32px; }
.search div { border: 1px solid silver; border-radius: 4px; background: #F5F5F5 url(../img/search.png) no-repeat 5px 6px; padding: 2px 0 2px 20px; line-height: 16px; height: 18px; }
.search input { width: 120px; border:0; outline: 0; background: #F5F5F5; font: normal 11px Arial; margin: 0; padding: 0; outline: 0; -webkit-apperance: none; }

.search-result { border-bottom: 1px solid #E0E0E0; margin-bottom: 20px; padding-bottom: 20px; }
.search-title { font-size: 18px; display: block; color: #3B5D8F; text-decoration: none; }
.search-title:hover { text-decoration: underline; }
.search-description { color: gray; margin: 5px 0; font-size: 14px; }
.search-result p { margin: 0; }
.search-link { font-size: 12px; text-decoration: none; color: #5CA73D; display: block; margin-top: 10px; }

.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea { -moz-border-radius: 0 0 0 0 !important; -webkit-border-radius: 0 0 0 0 !important; background: none !important; border: 0 !important; bottom: auto !important; float: none !important; height: auto !important; left: auto !important; line-height: 20px !important; margin: 0 !important; outline: 0 !important; overflow: visible !important; padding: 0 !important; position: static !important; right: auto !important; text-align: left !important; top: auto !important; vertical-align: baseline !important; width: auto !important; box-sizing: content-box !important; font-smoothing: antialiased; font-family: Monospace, 'Courier New' ,Courier !important; font-weight: normal !important; font-style: normal !important; font-size: 1em !important; min-height: inherit !important; min-height: auto !important; }
.syntaxhighlighter { border: 1px solid #E0E0E0; width: 99% !important; margin: 0 !important; position: relative !important; overflow: auto !important; font-size: 13px !important; }
.syntaxhighlighter.source { overflow: hidden !important; }
.syntaxhighlighter .bold { font-weight: bold !important; }
.syntaxhighlighter .italic { font-style: italic !important; }
.syntaxhighlighter .line { white-space: pre !important; }
.syntaxhighlighter table { width: 100% !important; }
.syntaxhighlighter table caption { text-align: left !important; padding: .5em 0 0.5em 1em !important; }
.syntaxhighlighter table td.code { width: 100% !important; }
.syntaxhighlighter table td.code .container { position: relative !important; }
.syntaxhighlighter table td.code .container textarea { box-sizing: border-box !important; position: absolute !important; left: 0 !important; top: 0 !important; width: 100% !important; height: 100% !important; border: none !important; background: white !important; padding-left: 1em !important; overflow: hidden !important; white-space: pre !important; }
.syntaxhighlighter table td.gutter .line { text-align: right !important; padding: 0 0.5em 0 1em !important; }
.syntaxhighlighter table td.code .line { padding: 0 1em !important; }
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line { padding-left: 0em !important; }
.syntaxhighlighter.show { display: block !important; }
.syntaxhighlighter.collapsed table { display: none !important; }
.syntaxhighlighter.collapsed .toolbar { padding: 0.1em 0.8em 0em 0.8em !important; font-size: 1em !important; position: static !important; width: auto !important; height: auto !important; }
.syntaxhighlighter.collapsed .toolbar span { display: inline !important; margin-right: 1em !important; }
.syntaxhighlighter.collapsed .toolbar span a { padding: 0 !important; display: none !important; }
.syntaxhighlighter.collapsed .toolbar span a.expandSource { display: inline !important; }
.syntaxhighlighter .toolbar { position: absolute !important; right: 1px !important; top: 1px !important; width: 11px !important; height: 11px !important; font-size: 10px !important; z-index: 10 !important; }
.syntaxhighlighter .toolbar span.title { display: inline !important; }
.syntaxhighlighter .toolbar a { display: block !important; text-align: center !important; text-decoration: none !important; padding-top: 1px !important; }
.syntaxhighlighter .toolbar a.expandSource { display: none !important; }
.syntaxhighlighter.ie { font-size: .9em !important; padding: 1px 0 1px 0 !important; }
.syntaxhighlighter.ie .toolbar { line-height: 8px !important; }
.syntaxhighlighter.ie .toolbar a { padding-top: 0px !important; }
.syntaxhighlighter.printing .line.alt1 .content, .syntaxhighlighter.printing .line.alt2 .content, .syntaxhighlighter.printing .line.highlighted .number, .syntaxhighlighter.printing .line.highlighted.alt1 .content, .syntaxhighlighter.printing .line.highlighted.alt2 .content { background: none !important; }
.syntaxhighlighter.printing .line .number { color: #bbbbbb !important; }
.syntaxhighlighter.printing .line .content { color: black !important; }
.syntaxhighlighter.printing .toolbar { display: none !important; }
.syntaxhighlighter.printing a { text-decoration: none !important; }
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a { color: black !important; }
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a { color: #008200 !important; }
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a { color: blue !important; }
.syntaxhighlighter.printing .keyword { color: #006699 !important; font-weight: bold !important; }
.syntaxhighlighter.printing .preprocessor { color: gray !important; }
.syntaxhighlighter.printing .variable { color: #aa7700 !important; }
.syntaxhighlighter.printing .value { color: #009900 !important; }
.syntaxhighlighter.printing .functions { color: #ff1493 !important; }
.syntaxhighlighter.printing .constants { color: #0066cc !important; }
.syntaxhighlighter.printing .script { font-weight: bold !important; }
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a { color: gray !important; }
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a { color: #ff1493 !important; }
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a { color: red !important; }
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a { color: black !important; }

.syntaxhighlighter { background-color: white !important; }
.syntaxhighlighter .line.alt1 { background-color: #F5F5F5 !important; padding-top:2px !important; }
.syntaxhighlighter .line.alt2 { background-color: white !important; padding-top:2px !important; }
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 { background-color: #e0e0e0 !important; }
.syntaxhighlighter .line.highlighted.number { color: black !important; }
.syntaxhighlighter table caption { color: black !important; }
.syntaxhighlighter .gutter { color: #D0D0D0 !important; }
.syntaxhighlighter .gutter .line { border-right: 3px solid #E0E0E0 !important; }
.syntaxhighlighter .gutter .line.highlighted { background-color: #6ce26c !important; color: white !important; }
.syntaxhighlighter.printing .line .content { border: none !important; }
.syntaxhighlighter.collapsed { overflow: visible !important; }
.syntaxhighlighter.collapsed .toolbar { color: blue !important; background: white !important; border: 1px solid #6ce26c !important; }
.syntaxhighlighter.collapsed .toolbar a { color: blue !important; }
.syntaxhighlighter.collapsed .toolbar a:hover { color: red !important; }
.syntaxhighlighter .toolbar { color: white !important; background: #6ce26c !important; border: none !important; }
.syntaxhighlighter .toolbar a { color: white !important; }
.syntaxhighlighter .toolbar a:hover { color: black !important; }
.syntaxhighlighter .plain, .syntaxhighlighter .plain a { color: black !important; }
.syntaxhighlighter .comments, .syntaxhighlighter .comments a { color: #008200 !important; }
.syntaxhighlighter .string, .syntaxhighlighter .string a { color: blue !important; }
.syntaxhighlighter .keyword { color: #006699 !important; }
.syntaxhighlighter .preprocessor { color: gray !important; }
.syntaxhighlighter .variable { color: #aa7700 !important; }
.syntaxhighlighter .value { color: #009900 !important; }
.syntaxhighlighter .functions { color: #ff1493 !important; }
.syntaxhighlighter .constants { color: #0066cc !important; }
.syntaxhighlighter .script { font-weight: bold !important; color: #006699 !important; background-color: none !important; }
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a { color: gray !important; }
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a { color: #ff1493 !important; }
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a { color: red !important; }
.syntaxhighlighter .keyword { font-weight: bold !important; }

.fork { position: absolute; top: 0; right: 0; border: 0; }
.keyvalue { height: 20px; border-bottom: 1px dotted #E0E0E0; margin-top: 3px; }
.keyvalue > div { float: left; }
.keyvalue > div:first-child { width: 200px; }
.help { font-size:11px;padding:10px;width:300px;line-height:12px;position:absolute;margin:-90px 0 0 740px; }