<!--  manifest="en.manifest" -->
<html>
<head>
	<title>Total.js documentation</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
	<link rel="stylesheet" href="docs.min.css" />
	<link rel="shortcut icon" href="resources/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="resources/favicon.ico" type="image/x-icon" />
</head>
<body data-json="en.json">

	<div class="container hidden" id="container">
		<div class="row">
			<div class="col-md-3 m">
				<div class="menu">
					<div class="center"><a href="javascript:void(0)" id="logo"><img src="resources/logo.png" class="image-responsive" alt="Total.js - Node.js framework" width="150" /></a></div>
					<div id="version"></div>
					<div class="search">
						<input type="text" id="search" placeholder="Search in API" autofocus="autofocus" />
					</div>
				</div>
				<br />
				<div class="menu bg">
					<div id="menu" class="menu-desktop"></div>
					<div class="offline">Offline mode: <b>ON</b></div>
					<button class="menu-button">TOGGLE MENU</button>
					<br />
				</div>
			</div>
			<div class="col-md-9 m">
				<div class="scroller-mobile">
					<div class="content" id="content"></div>
					<div class="footer">
						<div>&copy; 2013-2018 <a href="http://www.totaljs.com">www.totaljs.com</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="loading">
		<div>Loading ...</div>
	</div>

	<script type="text/html" id="template-menu">
		{{ if name }}
			<strong class="menu-group">{{ name }}</strong>
		{{ fi }}
		<ul>
			{{ foreach m in items }}
			<li><a href="{{ m.linker }}">{{ if m.changetype === 1 }}<span class="menu-new">new</span>{{ fi }}{{ m.name }}{{ if m.changetype === 2 }} <span style="color:silver;font-size:10px" title="Modified">(modified)</span>{{ fi }}</a></li>
			{{ end }}
		</ul>
		<br />
	</script>

	<script type="text/html" id="template-api-members">
		<h2 id="{{ name | lower }}">{{ name }} ({{ members.length }})</h2>
		<ul class="members">
			{{ foreach m in members }}
				<li data-id="{{ m.linker }}">
					{{ if m.changetype }}<span class="member-changelog">{{ if m.changetype === 1 }}new{{ else }}modified{{ fi }}</span>{{ fi }}<a href="#{{ m.linker }}" class="member">{{ m.name }}{{ if m.name_params }}<span class="members-params">{{ m.name_params }}</span>{{ fi }}; {{ if m.return }}<span class="members-return">returns {{ m.return }}</span>{{ fi }} {{ if m.options && m.options.length > 0 }}{{ foreach o in m.options }}<span class="members-option{{ if o === 'obsolete' }} opt-obsolete{{ fi }}{{ if o.substring(0, 1) === '+' }} opt-version{{ fi }}">{{ o }}</span>{{ end }}{{ fi }}{{ if m.default }}<span class="members-default"><b>Default value:</b> {{ m.default }}</span>{{ fi }}</a>
					<div class="body hidden">
						{{ if m.default }}<div class="member-body-default"><b>Default value</b>: {{ m.default }}</div>{{ fi }}
						<div class="member-body-name">{{ m.name }}{{ if m.name_params }}<span class="members-params">{{ m.name_params }}</span>{{ fi }};</div>
						{{ if m.alias }}
						<div class="member-body-alias"><b>&uarr;</b> {{ m.alias }}{{ if m.name_params }}<span class="members-params">{{ m.name_params }}</span>{{ fi }};</div>
						{{ fi }}
						{{ if m.changelog }}<div class="member-body-changelog"><b>CHANGELOG:</b> {{ m.changelog | raw }}</div>{{ fi }}
						{{ if m.params && m.params.length > 0 }}
							<div class="member-body-params">
								{{ m.params | params }}
							</div>
						{{ fi }}
						{{ if m.options && m.options.length > 0 }}
							<div class="member-body-flags">
							{{ foreach f in m.options }}
								<span{{ if f === 'obsolete' }} class="opt-obsolete"{{ fi }}{{ if f.substring(0, 1) === '+' }} class="opt-version"{{ fi }}>{{ f }}</span>
							{{ end }}
							</div>
						{{ fi }}
						{{ if m.return }}
						<div class="member-body-return">returns {{ if m.go }}<a href="{{ m.go }}">{{ m.return }}</a>{{ else }}{{ m.return }}{{ fi }};</div>
						{{ fi }}
						<div class="markdown">{{ m.body | raw }}</div>
						{{ if m.example }}
						<div class="member-body-example"><a href="{{ m.example }}" target="_blank">Example</a></div>
						{{ fi }}
					</div>
				</li>
			{{ end }}
		</ul>
	</script>

	<script type="text/html" id="template-api-links">
		<h3>List of all members</h3>
		<ul class="member-links">
			{{ if properties }}<li><a href="javascript:go('properties')">Properties</a></li>{{ fi }}
			{{ if methods }}<li><a href="javascript:go('methods')">Methods</a></li>{{ fi }}
			{{ if delegates }}<li><a href="javascript:go('delegates')">Delegates</a></li>{{ fi }}
			{{ if events }}<li><a href="javascript:go('events')">Events</a></li>{{ fi }}
		</ul>
	</script>

	<script type="text/html" id="template-search">
		<h1>Search results ({{ members.length }})</h1>
		<ul class="members">
			{{ foreach m in members }}
				<li data-id="{{ m.linker }}">
					<div class="search-group"><b>Section:</b> {{ m.group }}</div>{{ if m.changetype }}<span class="member-changelog">{{ if m.changetype === 1 }}new{{ else }}modified{{ fi }}</span>{{ fi }}<a href="#{{ m.linker }}" class="member">{{ m.name }}{{ if m.name_params }}<span class="members-params">{{ m.name_params }}</span>{{ fi }}; <span class="members-return">returns {{ m.return }}</span></a>
				</li>
			{{ end }}
		</ul>
		{{ if members.length === 0 }}
			<div class="noresult">Try to change a search phrase. Search engine searchs in properties, methods, delegates and events.</div>
		{{ fi }}
	</script>
	<script src="docs.min.js"></script>
</body>
</html>